// Variables
// Make sure that your prefix is the same as "classPrefix" in your gatsby-config.js

$prefix: grds !default;
$primary: #48ba6f !default;
$bg: #f4f6f8 !default;
$pb: 20px !default;
$br: 10px !default;
$br--sm: 5px !default;
$icon-size: 25px !default;

$text--desc: #7d858c !default;
$text--badge: #2e2e2e !default;

$badge--bg: #c5d3e0 !default;
$line: #c5d3e0 !default;

$green--bg: #ecfaea !default;
$green--border: #c0ebc8 !default;
$green--text: #307c3f !default;

$red--bg: #fef5f5 !default;
$red--border: #fcddde !default;
$red--text: #c93a3c !default;

$grey--bg: #f4f6f8 !default;
$grey--border: #d9eafa !default;
$grey--text: #7a7d80 !default;

// ------------------------------------------------

.#{$prefix} {
  // General
  &-color {
    // The color specimen gets a fixed width
    flex-basis: 300px !important;
    max-width: 300px !important;
  }
  &-wrapper {
    color: black;
    // Under 700px all specimens get sorted in one column
    @media (max-width: 700px) {
      flex-basis: 100% !important;
      max-width: 100% !important;
      margin: 0 0 24px 0;
    }
    margin: 0 10px 24px 0; // If you want to change the margin-right you'll also need to adjust the calc() on grds-wrapper (the -10px)
  }
  // Make sure that the element containing your markdown content has the className
  &-page {
    display: flex;
    flex-flow: row wrap;
    // All paragraphs and headings need to be 100% width
    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5 {
      flex-basis: 100%;
    }
  }
  // Audio
  &-audio__container {
    background: $bg;
    padding: $pb;
    border-radius: $br;
    width: 100%;
  }
  &-audio__title {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    svg {
      height: $icon-size;
      width: $icon-size;
      fill: $primary;
      margin-right: 1.5rem;
    }
  }
  &-audio__audiofile {
    width: 100%;
  }
  // Color
  &-color__container {
    border-radius: $br;
    width: 300px;
    display: flex;
    flex-direction: column;
    @media (max-width: 700px) {
      width: 100%;
    }
  }
  &-color__swatch {
    height: 150px;
    border-radius: $br $br 0 0;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    justify-content: center;
  }
  &-color__swatch__a11y {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: 0 3px;
  }
  &-color__swatch__a11y__char {
    color: white;
    text-align: center;
  }
  &-color__swatch__a11y__status {
    color: white;
    background: black;
    padding: 2px 5px;
    display: inline-block;
    border-radius: $br--sm;
    font-size: 0.9rem;
    text-align: center;
  }
  &-color__info {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background: $bg;
    border-radius: 0 0 $br $br;
  }
  &-color__info__item {
    p:first-child {
      text-transform: uppercase;
      color: $text--desc;
      font-size: 0.75rem;
    }
    p {
      margin-bottom: 0.25rem;
      margin-top: 0.5rem;
    }
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    flex-basis: 50%;
  }
  // Color-Palette
  &-color-palette__container {
    background: $bg;
    border-radius: $br;
    width: 100%;
  }
  &-color-palette__item {
    padding: $pb;
    border-bottom: 2px solid $line;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-color-palette__item:last-child {
    border-bottom: none;
  }
  &-color-palette__left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-color-palette__right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-color-palette__item__swatch {
    width: 50px;
    height: 50px;
    border-radius: $br;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-color-palette__item__name {
    padding: 0.5rem 1rem 0.5rem 0;
  }
  &-color-palette__item__color {
    margin: 0.4rem 0;
    width: 130px;
    span:first-child {
      background: $badge--bg;
      color: $text--badge;
      padding: 3px 5px;
      font-size: 0.7rem;
      border-radius: $br--sm;
    }
    span:last-child {
      margin-left: 0.25rem;
      font-size: 0.9rem;
    }
  }
  // Download
  &-download__container {
    background: $bg;
    padding: $pb;
    border-radius: $br;
    width: 100%;
    text-decoration: none;
  }
  &-download__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-download__info__left {
    display: flex;
    align-items: center;
    svg {
      height: $icon-size;
      width: $icon-size;
      fill: $primary;
      margin-right: 1.5rem;
    }
  }
  &-download__info__right {
    font-size: 0.75rem;
    color: $text--desc;
  }
  &-download__preview {
    padding: $pb;
    border-radius: $br;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  &-download__image {
    object-fit: cover;
    height: 100%;
    margin-bottom: 0;
  }
  // Example
  &-example {
    border-radius: $br;
    border: 1px solid $line;
  }
  &-example__container {
    padding: $pb;
  }
  // Hint
  &-hint {
    border-radius: $br;
    padding: $pb;
    background: $grey--bg;
    color: $grey--text;
    border: 1px solid $grey--border;
    width: 100%;
  }
  &-hint__directive {
    background: $green--bg;
    color: $green--text;
    border: 1px solid $green--border;
  }
  &-hint__warning {
    background: $red--bg;
    color: $red--text;
    border: 1px solid $red--border;
  }
  // Typography
  &-typo__container {
    width: 100%;
  }
  &-typo__item {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $line;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
  &-typo__item__name {
    margin-bottom: 1.5rem;
  }
  &-typo__item__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    p:first-child {
      text-transform: uppercase;
      font-size: 0.75rem;
      color: $text--desc;
      margin-bottom: 0;
    }
    p:last-child {
      margin-top: 0.5rem;
    }
  }
  &-typo__item__info__desc {
    margin-right: 2rem;
  }
  // Video
  &-video__container {
    background: $bg;
    padding: $pb;
    border-radius: $br;
    width: 100%;
  }
  &-video__title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    svg {
      height: $icon-size;
      width: $icon-size;
      fill: $primary;
      margin-right: 1.5rem;
    }
  }
  &-video__videofile {
    width: 100%;
  }
}
